<div class="container mt-2 shadow">
    <div class="row">
        <div class="col-12">
            <h4 class="py-4">A propos</h4>

            <ul>
                <li>Description</li>
                <p class="my-2">
                    Une application todo-list pour la gestion des taches avec la possibilité d'ajouter une nouvelle ou de supprimer une. On précise qu'on a pas utilisé une base de données.<br />
                    NB: J'ai pas respecté toutes les bonnes pratiques. Cette appli permet d'illustrer un peu ou de pratiquer les bases avec le framework Angular.
                </p>

                <li>Notions à comprendre</li>
                <div class="my-2">
                    <ul>
                        <li>Components</li>
                        <li>Directives</li>
                        <li>Pipes</li>
                        <li>Routes</li>
                        <li>Programmation Reactive</li>
                    </ul>
                </div>

                <li>Dependances</li>
                <div class="my-2">
                    <ul>
                        <li>Bootstrap</li>
                        <li>rxjs</li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</div>
